.XPACDT

__pycache__
.version
.vscode
.spyproject/

build
tmp

_static
_templates
*.exe.spec
*.status
XPACDT.*rst

output_docu
output_pyinstall

XPACDT/Bin/input.in
XPACDT/Bin/dist
XPACDT/Interfaces/*_module/output_make
XPACDT/Interfaces/*_module/*.o
XPACDT/Interfaces/*_module/*.so
XPACDT/Interfaces/*/pes.py

docs/source/XPACDT.*
