.XPACDT
.spyproject/
__pycache__
.version
build
_static
_templates
XPACDT/Bin/input.in
XPACDT/Bin/dist
*.exe.spec
XPACDT.*rst
output_docu
output_pyinstall
XPACDT/Interfaces/*_module/output_make
XPACDT/Interfaces/*_module/*.o
XPACDT/Interfaces/*_module/*.so
XPACDT/Interfaces/*/pes.py